.infoAreaContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin: 30px 0;
    width: 15vw;
}

.monthControl {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controlButton {
    border: none;
    background-color: #0e407a;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 20px;
    width: 20px;
    border-radius: 30%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.controlButton:hover {
    background-color: #FD6A23;
}

.balanceControl {
    display: flex;
    flex-direction: column;
}

.balanceControl >:last-child {
    margin-top: 5px;
    border-top: 1.5px solid #afafaf;
}