.tableContainer {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin-top: 20px;
    padding: 10px 0;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.tableHeader {
    display: flex;
    border-bottom: 1px solid #ced4da;
    padding-bottom: 10px;
}

.tableHeader th {
    width: 25%;
}

.tableContent {
    display: flex;
    flex-direction: column;
}